<div class="jumbotron">
  <h1>Log In</h1>
  <form class="form" action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password">
    <br>
    <input class="btn btn-primary submit-btn" type="submit" value="Log In">
  </form>
</div>
<div class="row">
  <div class="col-sm-3">
    <a href="/" class="btn btn-outline-primary" role="button">
      Home
    </a>
  </div>
</div>
