<div class="jumbotron">
  <h1>Restaurants</h1>
  <div class="row">
    <div class="col-sm-8">
      <% @restaurants = Restaurant.all.sort_by { |rest| rest.slug } %>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li>
            <a href="/restaurants/<%= restaurant.slug %>">
              <%= restaurant.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-4">
      <% if logged_in? %>
        <a href="/restaurants/new" class="btn btn-primary" role="button">
          Add a new restaurant
        </a>
        <h4>
          <a href="/<%= current_user.slug %>">
            See your restaurants
          </a>
        </h4>
      <% end %>
      <h4>
        <a href="/dietary-preferences">
          Find restaurants by dietary preference
        </a>
      </h4>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <% if logged_in? %>
    <form action="/logout" method="post">
      <input type="submit" value="Log Out" class="btn btn-outline-secondary" type="button">
    </form>
  <% else %>
    <a href="/login" class="btn btn-primary" role="button">
      Log In
    </a>
    <a href="/signup" class="btn btn-outline-secondary" role="button">
      Sign Up
    </a>
  <% end %>
</div>
