<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Gurajada" rel="stylesheet">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <title>Dineable</title>
  </head>

  <body>
    <nav class="navbar fixed-top">
      <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="Dineable Pusheen" src="http://i.stack.imgur.com/sl8Xl.gif">
            Dineable
          </a>
        </div>
      <!-- </div> -->
    </nav>

    <div class="container-fluid">
      <div class="container">
        <!-- Flash Message -->
        <% if !!flash[:message] %>
          <div id='flash'>
           /// <%= flash[:message] %>
          </div>
        <% end %>
        <!-- End of Flash Message -->
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="pull-right foot-note">
          <p>
            <a href="https://github.com/marielfrank">Made by Mariel &#x1f35c;</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
